﻿@using Kendo.Mvc.UI
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestKendo</title>
    <link href="~/Assets/kendo/2017.1.223/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Assets/kendo/2017.1.223/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Assets/kendo/2017.1.223/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Assets/kendo/2017.1.223/js/kendo.all.min.js"></script>
    <script src="~/Assets/kendo/2017.1.223/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
    <div> 
        
    </div>
</body>
</html>
