﻿@{ 
    string _path = HttpContext.Current.Request.Url.AbsolutePath;
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    string _selected = "";
}

<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a id="index" class="page-logo" href="index.html">
                    <img src="../assets/layouts/layout5/img/napo-logo.jpg" alt="Logo">
                </a>
                <!-- END LOGO -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <!-- BEGIN GROUP NOTIFICATION -->
                    <div class="btn-group-notification btn-group" id="header_notification_bar">
                        <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge">7</span>
                        </button>
                        <ul class="dropdown-menu-v2">
                            <li class="external">
                                <h3>
                                    <span class="bold">12 pending</span> notifications
                                </h3>
                                <a href="#">view all</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-success md-skip">
                                                    <i class="fa fa-plus"></i>
                                                </span> New user registered.
                                            </span>
                                            <span class="time">just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger md-skip">
                                                    <i class="fa fa-bolt"></i>
                                                </span> Server #12 overloaded.
                                            </span>
                                            <span class="time">3 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning md-skip">
                                                    <i class="fa fa-bell-o"></i>
                                                </span> Server #2 not responding.
                                            </span>
                                            <span class="time">10 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info md-skip">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span> Application error.
                                            </span>
                                            <span class="time">14 hrs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger md-skip">
                                                    <i class="fa fa-bolt"></i>
                                                </span> Database overloaded 68%.
                                            </span>
                                            <span class="time">2 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger md-skip">
                                                    <i class="fa fa-bolt"></i>
                                                </span> A user IP blocked.
                                            </span>
                                            <span class="time">3 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning md-skip">
                                                    <i class="fa fa-bell-o"></i>
                                                </span> Storage Server #4 not responding dfdfdfd.
                                            </span>
                                            <span class="time">4 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info md-skip">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span> System Error.
                                            </span>
                                            <span class="time">5 days</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger md-skip">
                                                    <i class="fa fa-bolt"></i>
                                                </span> Storage server failed.
                                            </span>
                                            <span class="time">9 days</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END GROUP NOTIFICATION -->
                    <!-- BEGIN GROUP INFORMATION -->
                    <div class="btn-group-red btn-group">
                        <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-plus"></i>
                        </button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li class="active">
                                <a href="#">New Post</a>
                            </li>
                            <li>
                                <a href="#">New Comment</a>
                            </li>
                            <li>
                                <a href="#">Share</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    Comments
                                    <span class="badge badge-success">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Feedbacks
                                    <span class="badge badge-danger">2</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END GROUP INFORMATION -->
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span>Hi, @User.Identity.Name</span>
                            <img src="../assets/layouts/layout5/img/avatar1.jpg" alt="">
                        </button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user"></i> My Profile
                                    <span class="badge badge-danger">1</span>
                                </a>
                            </li>
                            <li>
                                <a href="app_calendar.html">
                                    <i class="icon-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="app_inbox.html">
                                    <i class="icon-envelope-open"></i> My Inbox
                                    <span class="badge badge-danger"> 3 </span>
                                </a>
                            </li>
                            <li>
                                <a href="app_todo_2.html">
                                    <i class="icon-rocket"></i> My Tasks
                                    <span class="badge badge-success"> 7 </span>
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="page_user_lock_1.html">
                                    <i class="icon-lock"></i> Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END USER PROFILE -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <button type="button" class="quick-sidebar-toggler md-skip" data-toggle="collapse">
                        <span class="sr-only">Toggle Quick Sidebar</span>
                        <i class="icon-logout"></i>
                    </button>

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                    @Html.AntiForgeryToken()

                    }

                    <!-- END QUICK SIDEBAR TOGGLER -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    @if(_path.ToLower() == "/backoffice/index"|| _path.ToLower() == "/backoffice" || _path.ToLower() == "/")
                    {
                        _selected = " active open selected";
                    }
                    else
                    {
                        _selected = "";
                    }
                    <li class="dropdown dropdown-fw dropdown-fw-disabled @_selected">
                        <a href="@Url.Action("Index","BackOffice", new { area=""})" class="text-uppercase">
                            <i class="icon-home"></i> Dashboard
                        </a>
                    </li>
                    @if(_path.ToLower() == "/backoffice/store")
                    {
                        _selected = " active open selected";
                    }
                    else
                    {
                        _selected = "";
                    }
                    <li class="dropdown dropdown-fw dropdown-fw-disabled @_selected">
                        <a href="@Url.Action("Store","BackOffice",new { area=""})" class="text-uppercase">
                            <i class="icon-puzzle"></i> @oTransBLL.getTranslation("Cassa").Translation
                        </a>
                        <!--<ul class="dropdown-menu dropdown-menu-fw">
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-diamond"></i> UI Features </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="ui_colors.html"> Color Library </a>
                                    </li>
                                    <li>
                                        <a href="ui_metronic_grid.html"> Metronic Grid System </a>
                                    </li>
                                    <li>
                                        <a href="ui_general.html"> General Components </a>
                                    </li>
                                    <li>
                                        <a href="ui_buttons.html"> Buttons </a>
                                    </li>
                                    <li>
                                        <a href="ui_buttons_spinner.html"> Spinner Buttons </a>
                                    </li>
                                    <li>
                                        <a href="ui_confirmations.html"> Popover Confirmations </a>
                                    </li>
                                    <li>
                                        <a href="ui_sweetalert.html"> Bootstrap Sweet Alerts </a>
                                    </li>
                                    <li>
                                        <a href="ui_icons.html"> Font Icons </a>
                                    </li>
                                    <li>
                                        <a href="ui_socicons.html"> Social Icons </a>
                                    </li>
                                    <li>
                                        <a href="ui_typography.html"> Typography </a>
                                    </li>
                                    <li>
                                        <a href="ui_tabs_accordions_navs.html"> Tabs, Accordions & Navs </a>
                                    </li>
                                    <li>
                                        <a href="ui_tree.html"> Tree View </a>
                                    </li>
                                    <li>
                                        <a href="ui_timeline.html"> Timeline 1 </a>
                                    </li>
                                    <li>
                                        <a href="ui_timeline_2.html"> Timeline 2 </a>
                                    </li>
                                    <li>
                                        <a href="ui_timeline_horizontal.html"> Horizontal Timeline </a>
                                    </li>
                                    <li>
                                        <a href="ui_page_progress_style_1.html"> Page Progress Bar - Flash </a>
                                    </li>
                                    <li>
                                        <a href="ui_page_progress_style_2.html"> Page Progress Bar - Big Counter </a>
                                    </li>
                                    <li>
                                        <a href="ui_blockui.html"> Block UI </a>
                                    </li>
                                    <li>
                                        <a href="ui_bootstrap_growl.html"> Bootstrap Growl Notifications </a>
                                    </li>
                                    <li>
                                        <a href="ui_notific8.html"> Notific8 Notifications </a>
                                    </li>
                                    <li>
                                        <a href="ui_toastr.html"> Toastr Notifications </a>
                                    </li>
                                    <li>
                                        <a href="ui_bootbox.html"> Bootbox Dialogs </a>
                                    </li>
                                    <li>
                                        <a href="ui_alerts_api.html"> Metronic Alerts API </a>
                                    </li>
                                    <li>
                                        <a href="ui_session_timeout.html"> Session Timeout </a>
                                    </li>
                                    <li>
                                        <a href="ui_idle_timeout.html"> User Idle Timeout </a>
                                    </li>
                                    <li>
                                        <a href="ui_modals.html"> Modals </a>
                                    </li>
                                    <li>
                                        <a href="ui_extended_modals.html"> Extended Modals </a>
                                    </li>
                                    <li>
                                        <a href="ui_tiles.html"> Tiles </a>
                                    </li>
                                    <li>
                                        <a href="ui_timeline.html"> Timeline </a>
                                    </li>
                                    <li>
                                        <a href="ui_datepaginator.html"> Date Paginator </a>
                                    </li>
                                    <li>
                                        <a href="ui_nestable.html"> Nestable List </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-puzzle"></i> Components </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="components_date_time_pickers.html"> Date & Time Pickers </a>
                                    </li>
                                    <li>
                                        <a href="components_color_pickers.html"> Color Pickers </a>
                                    </li>
                                    <li>
                                        <a href="components_select2.html"> Select2 Dropdowns </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_multiselect_dropdown.html"> Bootstrap Multiselect Dropdowns </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_select.html"> Bootstrap Select </a>
                                    </li>
                                    <li>
                                        <a href="components_multi_select.html"> Bootstrap Multiple Select </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_select_splitter.html"> Select Splitter </a>
                                    </li>
                                    <li>
                                        <a href="components_clipboard.html"> Clipboard </a>
                                    </li>
                                    <li>
                                        <a href="components_typeahead.html"> Typeahead Autocomplete </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_tagsinput.html"> Bootstrap Tagsinput </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_switch.html"> Bootstrap Switch </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_maxlength.html"> Bootstrap Maxlength </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_fileinput.html"> Bootstrap File Input </a>
                                    </li>
                                    <li>
                                        <a href="components_bootstrap_touchspin.html"> Bootstrap Touchspin </a>
                                    </li>
                                    <li>
                                        <a href="components_form_tools.html"> Form Widgets & Tools </a>
                                    </li>
                                    <li>
                                        <a href="components_context_menu.html"> Context Menu </a>
                                    </li>
                                    <li>
                                        <a href="components_editors.html"> Markdown & WYSIWYG Editors </a>
                                    </li>
                                    <li>
                                        <a href="components_code_editors.html"> Code Editors </a>
                                    </li>
                                    <li>
                                        <a href="components_ion_sliders.html"> Ion Range Sliders </a>
                                    </li>
                                    <li>
                                        <a href="components_noui_sliders.html"> NoUI Range Sliders </a>
                                    </li>
                                    <li>
                                        <a href="components_knob_dials.html"> Knob Circle Dials </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-settings"></i> Form Stuff </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="form_controls.html"> Bootstrap Form
                                            <br>Controls </a>
                                    </li>
                                    <li>
                                        <a href="form_controls_md.html"> Material Design
                                            <br>Form Controls </a>
                                    </li>
                                    <li>
                                        <a href="form_validation.html"> Form Validation </a>
                                    </li>
                                    <li>
                                        <a href="form_validation_states_md.html"> Material Design
                                            <br>Form Validation States </a>
                                    </li>
                                    <li>
                                        <a href="form_validation_md.html"> Material Design
                                            <br>Form Validation </a>
                                    </li>
                                    <li>
                                        <a href="form_layouts.html"> Form Layouts </a>
                                    </li>
                                    <li>
                                        <a href="form_repeater.html"> Form Repeater </a>
                                    </li>
                                    <li>
                                        <a href="form_input_mask.html"> Form Input Mask </a>
                                    </li>
                                    <li>
                                        <a href="form_editable.html"> Form X-editable </a>
                                    </li>
                                    <li>
                                        <a href="form_wizard.html"> Form Wizard </a>
                                    </li>
                                    <li>
                                        <a href="form_icheck.html"> iCheck Controls </a>
                                    </li>
                                    <li>
                                        <a href="form_image_crop.html"> Image Cropping </a>
                                    </li>
                                    <li>
                                        <a href="form_fileupload.html"> Multiple File Upload </a>
                                    </li>
                                    <li>
                                        <a href="form_dropzone.html"> Dropzone File Upload </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="?p=">
                                    <i class="icon-wallet"></i> Portlets </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="portlet_boxed.html"> Boxed Portlets </a>
                                    </li>
                                    <li>
                                        <a href="portlet_light.html"> Light Portlets </a>
                                    </li>
                                    <li>
                                        <a href="portlet_solid.html"> Solid Portlets </a>
                                    </li>
                                    <li>
                                        <a href="portlet_ajax.html"> Ajax Portlets </a>
                                    </li>
                                    <li>
                                        <a href="portlet_draggable.html"> Draggable Portlets </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-bar-chart"></i> Charts </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="charts_amcharts.html"> amChart </a>
                                    </li>
                                    <li>
                                        <a href="charts_flotcharts.html"> Flot Charts </a>
                                    </li>
                                    <li>
                                        <a href="charts_flowchart.html"> Flow Charts </a>
                                    </li>
                                    <li>
                                        <a href="charts_google.html"> Google Charts </a>
                                    </li>
                                    <li>
                                        <a href="charts_echarts.html"> eCharts </a>
                                    </li>
                                    <li>
                                        <a href="charts_morris.html"> Morris Charts </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> HighCharts </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-cloud-upload"></i> Elements </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="elements_steps.html"> Steps </a>
                                    </li>
                                    <li>
                                        <a href="elements_lists.html"> Lists </a>
                                    </li>
                                    <li>
                                        <a href="elements_ribbons.html"> Ribbons </a>
                                    </li>
                                    <li>
                                        <a href="elements_overlay.html"> Overlays </a>
                                    </li>
                                    <li>
                                        <a href="elements_cards.html"> User Cards </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-pointer"></i> Maps </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="maps_google.html"> Google Maps </a>
                                    </li>
                                    <li>
                                        <a href="maps_vector.html"> Vector Maps </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>-->
                    </li>
                    @if(_path.ToLower() == "/backoffice/settings" || _path.ToLower() == "/backoffice/services" || _path.ToLower() == "/backoffice/products"
                        || _path.ToLower() == "/backoffice/customers" || _path.ToLower() == "/backoffice/employees" || _path.ToLower() == "/backoffice/cabins"
                         || _path.ToLower() == "/backoffice/suppliers" || _path.ToLower() == "/backoffice/categories" || _path.ToLower() == "/backoffice/generalsettings")
                    {
                        _selected = " active open selected";
                    }
                    else
                    {
                        _selected = "";
                    }
                    <li class="dropdown dropdown-fw dropdown-fw-disabled @_selected">
                        <a href="@Url.Action("Settings","BackOffice", new { area=""})" class="text-uppercase">
                            <i class="icon-briefcase"></i> @oTransBLL.getTranslation("Impostazioni").Translation
                        </a>
                        @{ 
                            string _liSel = "";
                        }
                        <ul class="dropdown-menu dropdown-menu-fw">
                            @{ 
                                if(_path.ToLower() == "/backoffice/employees")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel">
                                <a href="@Url.Action("Employees","backOffice", new { area=""})"> @oTransBLL.getTranslation("Collaboratori").Translation</a>
                            </li>
                            @{
                                if (_path.ToLower() == "/backoffice/products")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel">
                                <a href="@Url.Action("Products","backOffice", new { area=""})"> @oTransBLL.getTranslation("Prodotti").Translation</a>
                            </li>
                            @{
                                if (_path.ToLower() == "/backoffice/services" || _path.ToLower() == "/backoffice/categories")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel dropdown more-dropdown-sub">
                                <a href="@Url.Action("Services","backOffice", new { area=""})"> @oTransBLL.getTranslation("Servizi").Translation </a>
                                <ul class="dropdown-menu">
                                    <li class="@_liSel">
                                        <a href="@Url.Action("ServiceTypes","backOffice", new { area=""})"> @oTransBLL.getTranslation("Categorie/Sottocategorie").Translation </a>
                                    </li>
                                </ul>
                            </li>
                            @{
                                if (_path.ToLower() == "/backoffice/customers")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel">
                                <a href="@Url.Action("Customers","backOffice", new { area=""})"> @oTransBLL.getTranslation("Clienti").Translation </a>
                            </li>
                            @{
                                if (_path.ToLower() == "/backoffice/cabins")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel">
                                <a href="@Url.Action("Cabins","backOffice", new { area=""})"> @oTransBLL.getTranslation("Cabine").Translation </a>
                            </li>
                            @{
                                if (_path.ToLower() == "/backoffice/suppliers")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel">
                                <a href="@Url.Action("Suppliers","backOffice", new { area=""})"> @oTransBLL.getTranslation("Fornitori").Translation </a>
                            </li>
                            @{
                                if (_path.ToLower() == "/backoffice/generalsettings")
                                {
                                    _liSel = "active";
                                }
                                else
                                {
                                    _liSel = "";
                                }
                            }
                            <li class="@_liSel">
                                <a href="@Url.Action("GeneralSettings","backOffice", new { area=""})"> @oTransBLL.getTranslation("Impostazioni Generali").Translation </a>
                            </li>

                            @*<li class="dropdown more-dropdown-sub">
                                <a href="javascript:;"> Datatables </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="table_datatables_managed.html"> Managed Datatables </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_buttons.html"> Buttons Extension </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_colreorder.html"> Colreorder Extension </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_rowreorder.html"> Rowreorder Extension </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_scroller.html"> Scroller Extension </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_fixedheader.html"> FixedHeader Extension </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_responsive.html"> Responsive Extension </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_editable.html"> Editable Datatables </a>
                                    </li>
                                    <li>
                                        <a href="table_datatables_ajax.html"> Ajax Datatables </a>
                                    </li>
                                </ul>
                            </li>*@
                        </ul>-->
                    </li>
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="icon-layers"></i> Statistiche
                        </a>
                        <!--<ul class="dropdown-menu dropdown-menu-fw">
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-basket"></i> eCommerce </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="ecommerce_index.html">
                                            <i class="icon-home"></i> Dashboard </a>
                                    </li>
                                    <li>
                                        <a href="ecommerce_orders.html">
                                            <i class="icon-basket"></i> Orders </a>
                                    </li>
                                    <li>
                                        <a href="ecommerce_orders_view.html">
                                            <i class="icon-tag"></i> Order View </a>
                                    </li>
                                    <li>
                                        <a href="ecommerce_products.html">
                                            <i class="icon-graph"></i> Products </a>
                                    </li>
                                    <li>
                                        <a href="ecommerce_products_edit.html">
                                            <i class="icon-graph"></i> Product Edit </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-docs"></i> Apps </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="app_todo.html">
                                            <i class="icon-clock"></i> Todo 1 </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-check"></i> Todo 2 </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope"></i> Inbox </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> Calendar </a>
                                    </li>
                                    <li>
                                        <a href="app_ticket.html">
                                            <i class="icon-notebook"></i> Support </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-user"></i> User </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="page_user_profile_1.html"> Profile 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_profile_1_account.html"> Profile 1 Account </a>
                                    </li>
                                    <li>
                                        <a href="page_user_profile_1_help.html"> Profile 1 Help </a>
                                    </li>
                                    <li>
                                        <a href="page_user_profile_2.html"> Profile 2 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_1.html"> Login Page 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_2.html"> Login Page 2 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_3.html"> Login Page 3 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_4.html"> Login Page 4 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_5.html"> Login Page 5 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_6.html"> Login Page 6 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_lock_1.html"> Lock Screen 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_user_lock_2.html"> Lock Screen 2 </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-social-dribbble"></i> General </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="page_general_about.html"> About </a>
                                    </li>
                                    <li>
                                        <a href="page_general_contact.html"> Contact </a>
                                    </li>
                                    <li>
                                        <a href="page_general_portfolio_1.html"> Portfolio 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_portfolio_2.html"> Portfolio 2 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_portfolio_3.html"> Portfolio 3 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_portfolio_4.html"> Portfolio 4 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_search.html"> Search 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_search_2.html"> Search 2 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_search_3.html"> Search 3 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_search_4.html"> Search 4 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_search_5.html"> Search 5 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_pricing.html"> Pricing </a>
                                    </li>
                                    <li>
                                        <a href="page_general_pricing_2.html">
                                            <i class="icon-tag"></i> Pricing 2 </a>
                                    </li>
                                    <li>
                                        <a href="page_general_faq.html"> FAQ </a>
                                    </li>
                                    <li>
                                        <a href="page_general_blog.html"> Blog </a>
                                    </li>
                                    <li>
                                        <a href="page_general_blog_post.html"> Blog Post </a>
                                    </li>
                                    <li>
                                        <a href="page_general_invoice.html"> Invoice </a>
                                    </li>
                                    <li>
                                        <a href="page_general_invoice_2.html"> Invoice 2 </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="icon-settings"></i> System </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="layout_blank_page.html"> Blank Page </a>
                                    </li>
                                    <li>
                                        <a href="page_system_coming_soon.html"> Coming Soon </a>
                                    </li>
                                    <li>
                                        <a href="page_system_404_1.html"> 404 Page 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_system_404_2.html"> 404 Page 2 </a>
                                    </li>
                                    <li>
                                        <a href="page_system_404_3.html"> 404 Page 3 </a>
                                    </li>
                                    <li>
                                        <a href="page_system_500_1.html"> 500 Page 1 </a>
                                    </li>
                                    <li>
                                        <a href="page_system_500_2.html"> 500 Page 2 </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>-->
                    </li>
                    <li class="dropdown dropdown-fw dropdown-fw-disabled">
                        <a href="javascript:;" class="text-uppercase"> Assistenza </a>
                        <!--<ul class="dropdown-menu">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li>
                                <a href="#">Link 3</a>
                            </li>
                            <li>
                                <a href="#">Link 4</a>
                            </li>
                            <li>
                                <a href="#">Link 5</a>
                            </li>
                        </ul>-->
                    </li>
                </ul>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!--/container-->
    </nav>
</header>
<!-- END HEADER -->
