﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/Layout/_LayoutApp.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    NapoMVC.Models.BLL.UserBLL oUserBLL = new NapoMVC.Models.BLL.UserBLL();
    int _networkId = oUserBLL.getUserNetwork(User.Identity.Name);
    List<ClassRepository.SaleList> _saleLists = (List<ClassRepository.SaleList>)ViewData["SaleLists"];
}
@Html.Partial("~/Views/Shared/Partial/_PartialHeaderSettings.cshtml")
<div class="wrapper">
    @Html.Action("Header", "BackOffice", new { area = "" })
    <div class="container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                    <button onclick="newEmployee()">
                        Nuovo Collaboratore
                    </button>
                    @(Html.Kendo().Grid<ClassRepository.Employee>()
                        .Name("EmployeeGid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.ID).Title(oTransBLL.getTranslation("Codice").Translation);
                            columns.Bound(c => c.Name).Title(oTransBLL.getTranslation("Nome").Translation);
                            columns.Bound(c => c.LastName).Title(oTransBLL.getTranslation("Cognome").Translation);
                            columns.Command(command => command.Custom(oTransBLL.getTranslation("Dettagli").Translation).Click("showDetails"));
                        })
                            .HtmlAttributes(new { style = "height: 550px;" })
                            .Scrollable()
                            .Groupable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("Employees_Read", "CRUD",new { NetworkId =_networkId}))
                                .PageSize(20)
                            )
                    )
                </div>
            </div>
        </div>
   </div>
</div>

<div id="employeeWindow" style="display:none">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Anagrafica
            </li>
            <li>
                Listini
            </li>
        </ul>
        <div>
            <span id="employeeObject">
                <input class="isJsonField" type="hidden" id="ID" name="ID" value="" />
                <input class="isJsonField" type="hidden" id="GUID" name="GUID" value="" />
                <input class="isJsonField" type="hidden" id="NetworkId" name="NetworkId" value="@_networkId" />
                Codice: <input class="isJsonField" type="text" id="Code" name="Code" value="" placeholder="Digita il codice..." required /><br />
                Nome: <input class="isJsonField" type="text" id="Name" name="Name" value="" placeholder="Digita il nome..."  /><br />
                Cognome: <input class="isJsonField" type="text" id="LastName" name="LastName" value="" placeholder="Digita il cognome..."  /><br />
                Luogo di nascita: <input class="isJsonField" type="text" id="BirthPlace" name="BirthPlace" value="" placeholder="Digita il luogo di nascita..."  /><br />
                Nazione: <input class="isJsonField" type="text" id="BirthNation" name="BirthNation" value="" placeholder="Digita la nazione di nascita..."  /><br />
                Indirizzo residenza: <input class="isJsonField" type="text" id="ResidenceAdress" name="ResidenceAdress" value="" placeholder="Digita indirizzo..."  /><br />
                Luogo di residenza: <input class="isJsonField" type="text" id="CityAdress" name="CityAdress" value="" placeholder="Digita il luogo di residenza..."  /><br />
                CAP: <input class="isJsonField" type="text" id="ZipAdress" name="ZipAdress" value="" placeholder="Digita il cap..."  /><br />
                Telefono: <input class="isJsonField" type="tel" id="Telephone" name="Telephone" value="" placeholder="Digita telefono..."  /><br />
                Email: <input class="isJsonField" type="email" id="Email" name="Email" value="" placeholder="Digita email..."  /><br />
                Utente associato: <select class="isJsonField" id="UserId" name="UserId"></select>
                Obsoleto: <input class="isJsonField" type="checkbox" id="Obsolete" name="Obsolete" value="" /><br />
           
            </span>
        </div>
        <div>
            listino associato:
            <select class="isJsonField"  id="SaleListId" name="SaleListId">
                <option value="0">
                    -----
                </option>
                @foreach(var el in _saleLists)
                {
                    <option value="@el.Id">
                        @el.Name
                    </option>
                }
            </select><br />
            <label>Servizi abilitati per il collaboratore</label>
            <select id="Services"></select>
        </div>
    </div>
    <button id="saveEmployeee" name="saveEmployeee" onclick="saveEmployeePage()">Salva>></button>

</div>



<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $("#Services").kendoMultiSelect({
            placeholder: "Select customers...",
            dataTextField: "Name",
            dataValueField: "ID",
            height: 400,
            dataSource: {
                type: "json",
                transport: {
                    read: "@Url.Action("getServices", "CRUD", new { NetworkId = _networkId })"
                },
                group: { field: "ParentName" }
            }
        });
    });
    drawAvailUser();
    function clearAllEmployee()
    {
        document.getElementById("SaleListId").value = 0;
        document.getElementById("UserId").value = 0;
        $("#employeeObject").children('.isJsonField').each(function (index, obj) {
            var htmlType = $(this).prop('tagName');
            var jName = $(this).attr("id");
            var jValue = "";
            switch (htmlType.toUpperCase()) {
                case "INPUT":
                    $(obj).val('');
                    break;
                case "SELECT":
                    $('#' + jName + ' option:selected').val(0);
                    break;
            }
        });
        document.getElementById("ID").value = 0;
    }
    function drawAvailUser() {
        $.ajax({
            url: '@Url.Action("getUsersNonInemployee", "CRUD", new { area=""})',
            data: 'NetworkId=@_networkId',
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    //console.log(data);
                    var _html = '';
                    var _sel = $("#UserId");
                    _sel.empty();
                    _sel.append($("<option></option>")
                            .attr("value", 0).text('-----'));
                    for (var i = 0; i < data.length; i++) {
                        _sel.append($("<option></option>")
                            .attr("value", data[i].Code).text(data[i].UserName));
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione: select vat');
            }
        });
    }
    function drawAvailUserWithSelect(userId) {
        $.ajax({
            url: '@Url.Action("getUsersNonInemployeeWithSelect", "CRUD", new { area=""})',
            data: 'NetworkId=@_networkId&UserId=' + userId,
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    //console.log(data);
                    var _html = '';
                    var _sel = $("#UserId");
                    _sel.empty();
                    _sel.append($("<option></option>")
                            .attr("value", 0).text('-----'));
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].Code == userId) {
                            _sel.append($("<option></option>")
                                .attr("value", data[i].Code).attr("selected", true).text(data[i].UserName));
                        }
                        else {
                            _sel.append($("<option></option>")
                                .attr("value", data[i].Code).text(data[i].UserName));
                        }
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione: select vat');
            }
        });
    }

    function saveEmployeePage()
    {
        var _o = new Object();
        $("#employeeObject").children('.isJsonField').each(function (index, obj) {
            var htmlType = $(this).prop('tagName');
            var jName = $(this).attr("id");
            var jValue = "";
            switch (htmlType.toUpperCase()) {
                case "INPUT":
                    jValue = $(obj).val();
                    break;
                case "NUMBER":
                    jValue = $(obj).val();
                    break;
                case "SELECT":
                    jValue = $('#' + jName + ' option:selected').val();
                    break;
            }
            //console.log(jName + " " + jValue + " tipo " + htmlType);
            //public string Email { get; set; }
            //public int SaleList { get; set; }
            //public bool Obsolete { get; set; }
            switch (jName) {
                case "Name":
                    _o.Name = jValue;
                    break;
                case "ID":
                    _o.ID = jValue;
                    break;
                case "GUID":
                    _o.GUID = jValue;
                    break;
                case "NetworkId":
                    _o.NetworkId = jValue;
                    break;
                case "LastName":
                    _o.LastName = jValue;
                    break;
                case "Code":
                    _o.Code = jValue;
                    break;
                case "Price":
                    _o.Price = jValue;
                    break;
                case "UserId":
                    _o.UserId = jValue;
                    break;
                case "BirthPlace":
                    _o.BirthPlace = jValue;
                    break;
                case "BirthNation":
                    _o.BirthNation = jValue;
                    break;
                case "ResidenceAdress":
                    _o.ResidenceAdress = jValue;
                    break;
                case "CityAdress":
                    _o.CityAdress = jValue;
                    break;
                case "ZipAdress":
                    _o.ZipAdress = jValue;
                    break;
                case "Telephone":
                    _o.Telephone = jValue;
                    break;
                case "Email":
                    _o.Email = jValue;
                    break;

            }
        });
        _o.SaleList = $('#SaleListId option:selected').val();
        var multiselect = $("#Services").data("kendoMultiSelect");
        // get data items for the selected options.
        var servicesSelected = multiselect.dataItems();
        //console.log(servicesSelected);
        //console.log(_o);

        $.ajax({
            url: '@Url.Action("setEmployee", "CRUD",new { area=""})',
            data: 'JsonData=' + JSON.stringify(_o),
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    if (data.Status.Status != 0)
                    { alert(data.Status.Error); }
                    else
                    {
                        $("#EmployeeGid").data("kendoGrid").dataSource.read();
                        $("#employeeWindow").data("kendoWindow").close();
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione');
            }
        });

    }
    function showDetails(e) {
        e.preventDefault();
        //prima pulisco tutto
        clearAllEmployee();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        drawAvailUserWithSelect(dataItem.UserId);
        var _id = dataItem.ID;
        var jValue = '';
        for (var key in dataItem) {
            jValue = dataItem[key] + "";
             switch (key) {
                case "Name":
                    $("#" + key).val(jValue);
                    break;
                case "ID":
                    $("#" + key).val(jValue);
                    break;
                case "GUID":
                    $("#" + key).val(jValue);
                    break;
                case "NetworkId":
                    $("#" + key).val(jValue);
                    break;
                case "LastName":
                    $("#" + key).val(jValue);
                    break;
                case "Code":
                    $("#" + key).val(jValue);
                    break;
                case "Price":
                    $("#" + key).val(jValue);
                    break;
                case "UserId":
                    $("#" + key).val(jValue);
                    break;
                case "BirthPlace":
                    $("#" + key).val(jValue);
                    break;
                case "BirthNation":
                    $("#" + key).val(jValue);
                    break;
                case "ResidenceAdress":
                    $("#" + key).val(jValue);
                    break;
                case "CityAdress":
                    $("#" + key).val(jValue);
                    break;
                case "ZipAdress":
                    $("#" + key).val(jValue);
                    break;
                case "Telephone":
                    $("#" + key).val(jValue);
                    break;
                case "Email":
                    $("#" + key).val(jValue);
                    break;

            }
        }
        //console.log("utente associato" + dataItem.UserId);
        document.getElementById("SaleListId").value = dataItem.SaleList;
        //document.getElementById("UserId").value = dataItem.UserId;
        $('#UserId select').val(dataItem.UserId);

        var employeeWindow = $("#employeeWindow");
        employeeWindow.kendoWindow({
            width: 800,
            height: 600,
            title: "Gestione Collaboratore: " + dataItem.Name + " [" + dataItem.ID + "]",
            modal: true,
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: onClose
        }).data("kendoWindow").center().open();

    }
    function newEmployee()
    {
        clearAllEmployee();
        drawAvailUser();
        $("#NetworkId").val("@_networkId");
        var employeeWindow = $("#employeeWindow");
        employeeWindow.kendoWindow({
            width: 800,
            height: 600,
            title: "Nuovo collaboratore",
            modal: true,
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: onClose
        }).data("kendoWindow").center().open();
    }
    function onClose(e) {

    }
</script>
