﻿
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/Layout/_LayoutBackOffice.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    NapoMVC.Models.BLL.UserBLL oUserBLL = new NapoMVC.Models.BLL.UserBLL();
    int _networkId = oUserBLL.getUserNetwork(User.Identity.Name);
}

<div class="wrapper">
    @Html.Action("Header", "BackOffice", new { area = "" })
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                    <h2>General Settings</h2>
                </div>
            </div>
        </div>
    </div>
</div>

