﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout/_LayoutApp.cshtml";
}

<div class="row">
    <div class="col col-25">
        <button class="button button-full button-calm" onclick="window.location.replace('/')">
            CASSA
        </button>
        <button class="button button-full button-balanced">
            Test
        </button>
    </div>
    <div class="col col-25">
        <ion-card class="card card-md">

            <ion-card-header class="card-header card-header-md">
                <h4 style="text-align:center">chart 1</h4>
            </ion-card-header>

            <ion-card-content class="card-content card-content-md">
                <div id="chart" style="width: 100%"></div>
            </ion-card-content>
        </ion-card>
    </div>
</div>

