﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/Layout/_LayoutApp.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    NapoMVC.Models.BLL.UserBLL oUserBLL = new NapoMVC.Models.BLL.UserBLL();
    int _networkId = oUserBLL.getUserNetwork(User.Identity.Name);
    List<ClassRepository.ServiceTypesBase> _lstTpes = (List<ClassRepository.ServiceTypesBase>)ViewData["ServiceTypes"];
}
@Html.Partial("~/Views/Shared/Partial/_PartialHeaderSettings.cshtml")
<div class="wrapper">
    @Html.Action("Header", "BackOffice", new { area = "" })
    <div class="container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                    <button id="newServiceType">
                        Inserisci nuovo
                    </button>
                    @(Html.Kendo().Grid<ClassRepository.ServiceTypesBase>()
                        .Name("ServiceTypesGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Id).Title(oTransBLL.getTranslation("Id").Translation);
                            columns.Bound(c => c.GUID).Title(oTransBLL.getTranslation("GUID").Translation);
                            columns.Bound(c => c.Name).Title(oTransBLL.getTranslation("Nome").Translation);
                            columns.Bound(c => c.ParentName).Title(oTransBLL.getTranslation("Genitore").Translation).Width(200); ;
                            columns.Command(command => command.Custom(oTransBLL.getTranslation("Dettagli").Translation).Click("showDetails"));
                        })
                            .HtmlAttributes(new { style = "height: 550px;" })
                            .Scrollable()
                            .Groupable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("ServiceTypes_Read", "CRUD", new { NetworkId = _networkId }))
                                .PageSize(20)
                            )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<div id="serviceTypeWindow">
    <div id="typeObject">
        <input class="isJsonField" type="hidden" id="Id" name="Id" value="" />
        <input class="isJsonField" type="hidden" id="GUID" name="GUID" value="" />
        <input class="isJsonField" type="hidden" id="NetworkId" name="NetworkId" value="@_networkId" />
        Nome: <input class="isJsonField" type="text" id="Name" name="" value="" placeholder="Digita il nome..." /><br />
        Parent: <select class="isJsonField" id="ParentId" name="ParentId">
            <option value="0">
                ----
            </option>
            @foreach (var el in _lstTpes)
            {
                if (el.Id == el.ParentId)
                {
                    <option value="@el.ParentId">
                        @el.Name
                    </option>
                }
            }
        </select><br />
    </div>
    <button id="saveType" name="saveType" onclick="saveType()">Salva>></button>
</div>

<script>
    function saveType()
    {
        var _o = new Object();
        $("#typeObject").children('.isJsonField').each(function (index, obj) {
            var htmlType = $(obj).prop('tagName');
            var jName = $(obj).attr("id");
            var jValue = "";
            switch(htmlType.toUpperCase())
            {
                case "INPUT":
                    jValue = $(obj).val();
                    break;
                case "SELECT":
                    jValue = $('#' + jName + ' option:selected').val();
                    break;
            }
            switch(jName)
            {
                case "Name":
                    _o.Name = jValue;
                    break;
                case "Id":
                    _o.Id = jValue;
                    break;
                case "GUID":
                    _o.GUID = jValue;
                    break;
                case "NetworkId":
                    _o.NetworkId = jValue;
                    break;
                case "ParentId":
                    _o.ParentId = jValue;
                    break;
            }
        })
        $.ajax({
            url: '@Url.Action("setServiceType", "CRUD")',
            data: 'JsonData=' + JSON.stringify(_o),
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    if (data.Status.Status != 0)
                    { alert(data.ResponseStatus.Error); }
                    else
                    {
                        $("#ServiceTypesGrid").data("kendoGrid").dataSource.read();
                        $("#serviceTypeWindow").data("kendoWindow").close();
                        drawSelect();
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione');
            }
        });
    }
    function drawSelect()
    {
        $.ajax({
            url: '@Url.Action("getParentServices", "CRUD")',
            data: 'NetworkId=@_networkId',
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    console.log(data);
                    var _html = '';
                    var _sel = $("#ParentId");
                    _sel.empty();
                    _sel.append($("<option></option>")
                            .attr("value", 0).text('-----'));
                    for(var i=0;i<data.length;i++)
                    {
                        _sel.append($("<option></option>")
                            .attr("value", data[i].Id).text(data[i].Name));
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione: select');
            }
        });
    }
</script>


<script>
    $(document).ready(function () {
        //setWindow();
        var _new = $("#newServiceType");
        _new.click(function (e) {
            e.preventDefault();
            $("#Id").val('0');
            $("#GUID").val('');
            $("#Name").val('');
            $("#ParentId").val('0');
            $("#NetworkId").val('@_networkId');
            $("#serviceTypeWindow").css("display", "block");
            var serviceTypeWindow = $("#serviceTypeWindow");
            serviceTypeWindow.kendoWindow({
                width: 350,
                height:200,
                title: "Inserimento nuovo tipo",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                close: onClose
            }).data("kendoWindow").center().open();
        });
    });
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#serviceTypeWindow").css("display", "block");
        var serviceTypeWindow = $("#serviceTypeWindow");
        //riempio con i valori trovati
        $("#Id").val(dataItem.Id);
        $("#GUID").val(dataItem.GUID);
        $("#NetworkId").val(dataItem.NetworkId);
        $("#Name").val(dataItem.Name);
        $("#ParentId").val(dataItem.ParentId);
        serviceTypeWindow.kendoWindow({
            width: 350,
            height: 200,
            title: "Gestione tipo: " + dataItem.Name,
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: onClose
        }).data("kendoWindow").center().open();
    }

    function onClose() {
        
    }

    function setWindow()
    {
        var myWindow = $("#serviceTypeWindow")
        myWindow.kendoWindow({
            width: "615px",
            height: 500,
            close: onClose,
            visible: false
        });
    }
</script>



