﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/Layout/_LayoutApp.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    NapoMVC.Models.BLL.UserBLL oUserBLL = new NapoMVC.Models.BLL.UserBLL();
    int _networkId = oUserBLL.getUserNetwork(User.Identity.Name);
    List<ClassRepository.SaleList> _saleLists = (List<ClassRepository.SaleList>)ViewData["SaleLists"];
    List<ClassRepository.VAT> _lstVAT =(List<ClassRepository.VAT>) ViewData["VAT"];
}
@Html.Partial("~/Views/Shared/Partial/_PartialHeaderSettings.cshtml")
<div class="wrapper">
    @Html.Action("Header", "BackOffice", new { area = "" })
    <div class="container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                    <br />
                    <br />
                    <br />
                    <br />
                    <button id="newService">
                        Inserisci nuovo
                    </button>
                    @(Html.Kendo().Grid<ClassRepository.ServiceGrid>()
                        .Name("ProductGid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.ID);
                            columns.Bound(c => c.Code).Title(oTransBLL.getTranslation("Codice").Translation);
                            columns.Bound(c => c.Name).Title(oTransBLL.getTranslation("Nome").Translation);
                            columns.Bound(c => c.ServiceTypeName1).Title(oTransBLL.getTranslation("Tipo 1").Translation);
                            columns.Bound(c => c.ServiceTypeName2).Title(oTransBLL.getTranslation("Tipo 2").Translation);
                            columns.Command(command => command.Custom(oTransBLL.getTranslation("Dettagli").Translation).Click("showDetails"));
                        })
                            .HtmlAttributes(new { style = "height: 550px;" })
                            .Scrollable()
                            .Groupable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("Service_Read", "CRUD", new { NetworkId = _networkId }))
                                .PageSize(20)
                            )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<div id="serviceWindow" style="display:none">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">
                    Anagrafica
                </li>
                <li>
                    Listini
                </li>
            </ul>
            <div>
                <span id="serviceObject">
                    <input class="isJsonField" type="hidden" id="Id" name="Id" value="" />
                    <input class="isJsonField" type="hidden" id="GUID" name="GUID" value="" />
                    <input class="isJsonField" type="hidden" id="NetworkId" name="NetworkId" value="@_networkId" />
                    Codice: <input class="isJsonField" type="text" id="Code" name="Code" value="" placeholder="Digita il codice..." required /><br />
                    Nome: <input class="isJsonField" type="text" id="Name" name="Name" value="" placeholder="Digita il nome..." required /><br />
                    Durata cliente: <input class="isJsonField" type="number" min="0" id="Minutes" name="Minutes" value="" /><br />
                    Durata Lavoro: <input class="isJsonField" type="number" min="0" id="WorkingMinutes" name="WorkingMinutes" value="" /><br />
                    Prezzo: <input class="isJsonField lst" type="number" id="Price" min="0" name="Price" value="" required /><br />
                    IVA: <select class="isJsonField" id="VAT" name="VAT"></select>
                    <br />
                    Tipo 1: <select class="isJsonField" id="Type1" name="Type1" onchange="drawSelectChild()"></select>
                    <button onclick="openServiceTypeWindow()">
                        Aggiungi Tipo...
                    </button>
                    <br />
                    Tipo 2: <select class="isJsonField" id="Type2" name="Type2" disabled></select>
                    <br />
                </span>
            </div>
            <div>
                <label>Prezzo per listini</label>
                <ul>
                    @foreach(var el in _saleLists)
                    {
                        <li>
                            @el.Name <input class="lst" type="number" id="lstPrice~@el.Id" min="0" name="lstPrice~@el.Id" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    <button id="saveService" name="saveService" onclick="saveServicePage()">Salva>></button>
</div>

@*public string GUID { get; set; }
        public int Minutes { get; set; }
        public int WorkingMinutes { get; set; }
        public long ID { get; set; }
        public string Code { get; set; }
        public string Name { get; set; }
        public int NetworkId { get; set; }
        public decimal Price { get; set; }
        public decimal VAT { get; set; }
        public int ServiceTypeId1 { get; set; }
        public string ServiceTypeName1 { get; set; }
        public int ServiceTypeId2 { get; set; }
        public string ServiceTypeName2 { get; set; }*@
<script>

    function drawSelect(index) {
        $.ajax({
            url: '@Url.Action("getServices", "CRUD")',
            data: 'NetworkId=@_networkId',
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    //console.log(data);
                    var _html = '';
                    var _sel = $("#Type" + index);
                    _sel.empty();
                    _sel.append($("<option></option>")
                            .attr("value", 0).text('-----'));
                    for (var i = 0; i < data.length; i++) {
                        _sel.append($("<option></option>")
                            .attr("value", data[i].Id).text(data[i].Name));
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione: select');
            }
        });
    }
    function drawSelectChild() {
        var _parent = parseInt(document.getElementById('Type1').value);
        if (_parent == 0)
        {
            $("#Type2").css("disabled", true);
            return;
        }
        $("#Type2").attr("disabled", false);
        $("#Type2").empty();
         $.ajax({
            url: '@Url.Action("getChildrenServices", "CRUD")',
            data: 'NetworkId=@_networkId&ParentId=' + _parent,
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    //console.log(data);
                    if (data.length == 0)
                    {
                        $("#Type2").css("disabled", true);
                        return;
                    }
                    var _html = '';
                    var _sel = $("#Type2");
                    _sel.empty();
                    _sel.append($("<option></option>")
                            .attr("value", 0).text('-----'));
                    for (var i = 0; i < data.length; i++) {
                        _sel.append($("<option></option>")
                            .attr("value", data[i].Id).text(data[i].Name));
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione: select');
            }
        });
    }
    function drawSelectVAT() {
        $.ajax({
            url: '@Url.Action("getVAT", "CRUD")',
            data: 'NetworkId=@_networkId',
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    //console.log(data);
                    var _html = '';
                    var _sel = $("#VAT");
                    _sel.empty();
                    _sel.append($("<option></option>")
                            .attr("value", 0).text('-----'));
                    for (var i = 0; i < data.length; i++) {
                        _sel.append($("<option></option>")
                            .attr("value", data[i].Id).text(data[i].Name));
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione: select vat');
            }
        });
    }
    //carico le select
    drawSelect(1);
    //drawSelect(2);
    drawSelectVAT();

    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#serviceWindow").css("display", "block");
        var serviceTypeWindow = $("#serviceWindow");
        //riempio con i valori trovati
        @*
        public decimal Price { get; set; }
        public int ServiceTypeId1 { get; set; }
        public string ServiceTypeName1 { get; set; }
        public int ServiceTypeId2 { get; set; }
        public string ServiceTypeName2 { get; set; }*@
        //console.log(dataItem);
        $("#Id").val(dataItem.ID);
        $("#GUID").val(dataItem.GUID);
        $("#NetworkId").val(dataItem.NetworkId);
        $("#Code").val(dataItem.Code);
        $("#Name").val(dataItem.Name);
        $("#NetworkId").val(dataItem.NetworkId);
        $("#Minutes").val(dataItem.Minutes);
        $("#WorkingMinutes").val(dataItem.WorkingMinutes);
        document.getElementById('VAT').value = dataItem.VATId;
        document.getElementById('Type1').value = dataItem.ServiceTypeId1;
        if (dataItem.ServiceTypeId2 != 0)
        {
            $("#Type2").attr("disabled", false);
            drawSelectChild();
        }
        document.getElementById('Type2').value = dataItem.ServiceTypeId2;
        //listino prezzi
        for (var i = 0; i < dataItem.SaleListPrices.length; i++)
        {
            var _lstId = dataItem.SaleListPrices[i].SaleListId;
            $('[id^="lstPrice"]').each(function (i, obj) {
                try {
                    if (obj.id == "lstPrice~" + dataItem.SaleListPrices[i].SaleListId)
                        $(obj).data("kendoNumericTextBox").value(dataItem.SaleListPrices[i].Price);
                }
                catch (e) { }
            });
        }
        //Prezzo base
        $("#Price").data("kendoNumericTextBox").value(dataItem.Price);
        serviceTypeWindow.kendoWindow({
            width: 800,
            height: 600,
            title: "Gestione Servizio: " + dataItem.Name + " [" + dataItem.ID + "]",
            modal: true,
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: onClose
        }).data("kendoWindow").center().open();
    }
    $(document).ready(function () {
        var _new = $("#newService");
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $(".lst").kendoNumericTextBox({
            format: "c",
            decimals: 2
        });
        function clearDivInfo()
        {
            $('.isJsonField').each(function (i, obj) {
                var htmlType = $(this).prop('tagName');
                var jName = $(this).attr("id");
                switch (htmlType.toUpperCase()) {
                    case "INPUT":
                        $(obj).val('');
                        break;
                    case "SELECT":
                        $('#' + jName + ' option:selected').val(0);
                        break;
                }
            })
            $('[id^="lstPrice"]').each(function (i, obj) {
                $(obj).data("kendoNumericTextBox").value(0);
            });
            $("#Price").data("kendoNumericTextBox").value(0);
        }


        _new.click(function (e) {
            e.preventDefault();
            clearDivInfo();
            $("#Id").val('0');
            $("#GUID").val('');
            $("#Name").val('');
            $("#Minutes").val('0');
            $("#WorkingMinutes").val('0');
            $("#NetworkId").val('@_networkId');

            $("#serviceWindow").css("display", "block");
            var serviceTypeWindow = $("#serviceWindow");
            drawSelect(1);
            drawSelectVAT();
            serviceTypeWindow.kendoWindow({
                width: 600,
                height: 500,
                title: "Inserimento nuovo Servizio",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                close: onClose
            }).data("kendoWindow").center().open();
        });

    });
    function onClose() {
        closeAllWindowModalType();
    }
    $("#saveType").click(function () {
        saveType_ServiceType()
    });
    function saveServicePage() {
        var _o = new Object();
        $("#serviceObject").children('.isJsonField').each(function (index, obj) {
            var htmlType = $(this).prop('tagName');
            var jName = $(this).attr("id");
            var jValue = "";
            switch (htmlType.toUpperCase()) {
                case "INPUT":
                    jValue = $(obj).val();
                    break;
                case "NUMBER":
                    jValue = $(obj).val();
                    break;
                case "SELECT":
                    jValue = $('#' + jName + ' option:selected').val();
                    break;
            }
            console.log(jName + " " + jValue);
            switch (jName) {
                case "Name":
                    _o.Name = jValue;
                    break;
                case "Id":
                    _o.Id = jValue;
                    break;
                case "GUID":
                    _o.GUID = jValue;
                    break;
                case "NetworkId":
                    _o.NetworkId = jValue;
                    break;
                case "Minutes":
                    _o.Minutes = jValue;
                    break;
                case "WorkingMinutes":
                    _o.WorkingMinutes = jValue;
                    break;
                case "Code":
                    _o.Code = jValue;
                    break;
                case "Price":
                    _o.Price = jValue;
                    break;
                case "VAT":
                    _o.VAT = jValue;
                    break;
                case "Type1":
                    _o.Type1 = jValue;
                    break;
                case "Type2":
                    _o.Type2 = jValue;
                    break;
            }
        });
        //prezzo
        var _pzoBase = $("#Price").data("kendoNumericTextBox").value();
        _o.Price = _pzoBase;
        //listini
        _o.SaleListPrices = new Array();
        $('[id^="lstPrice"]').each(function (i, obj) {
            //this.Price = 0;
            //this.SaleListId = 0;
            var _lst = new Object();
            var _id = $(obj).attr('id');
            var _pzo = 0;
            try {
                _pzo = parseFloat($(obj).data("kendoNumericTextBox").value());
            }
            catch (e) { }
            var _idH = _id.split('~');
            var _saleList = _idH[1];
            if (isNaN(_pzo))
                _pzo = 0;
            _lst.Price = _pzo;
            _lst.SaleListId = _saleList;
            _o.SaleListPrices.push(_lst);
        });
        $.ajax({
            url: '@Url.Action("setService", "CRUD",new { area=""})',
            data: 'JsonData=' + JSON.stringify(_o),
            type: "POST",
            async: true,
            success: function (data) {
                if (data) {
                    if (data.Status.Status != 0)
                    { alert(data.Status.Error); }
                    else
                    {
                        $("#ProductGid").data("kendoGrid").dataSource.read();
                        $("#serviceWindow").data("kendoWindow").close();
                    }
                }
            },
            fail: function () {
                alert('Errore nella comunicazione');
            }
        });
    }
</script>
<script>
    function onCloseServiceTypeWindow() {
        drawSelect(1);
        $("#Type2").attr("disabled",true);
    }
</script>

@Html.Action("ModalTypeinsert", "BackOffice", new { area = "" })