﻿@model ClassRepository.ServiceTypesBase
@{
    ViewBag.Title = "ServiceTypeDetails";
    Layout = "~/Views/Shared/Layout/_LayoutBackOffice.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    Layout = "~/Views/Shared/Layout/_LayoutBackOffice.cshtml";
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    NapoMVC.Models.BLL.UserBLL oUserBLL = new NapoMVC.Models.BLL.UserBLL();
    int _networkId = oUserBLL.getUserNetwork(User.Identity.Name);
    if(_networkId!=Model.NetworkId)
    {
        Response.Redirect(Url.Action("AuthError", new { Error = "Mancano i permessi per l'azione richiesta" }), true);
    }
    List<ClassRepository.ServiceTypesBase> _lst = (List<ClassRepository.ServiceTypesBase>) ViewData["ServiceTypes"];
    string _message = "";
    if(ViewBag.ins!=null)
    {
        _message = "Operazione riuscita";
    }
    if(_message!="")
    {
        <div>
            @_message;
        </div>
        <script>
            document.location.reload();
        </script>
    }
}

@using (Ajax.BeginForm("UpServiceTypeDetails", "Backoffice", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ServiceTypeManager",
}, new { id = "formPriceSectionSettings" }))
{
    <div id="ServiceTypeManager">
        <input type="hidden" name="id" id="Id" value="@Model.Id" />
        <input type="hidden" name="GUID" id="GUID" value="@Model.GUID" />
        <label>Nome</label>: <input type="text" id="Name" name="Name" value="@Model.Name" />
        <input type="hidden" id="NetworkId" name="NetworkId" value="@_networkId" />
        <input type="hidden" id="ParentId" name="ParentId" value="@Model.ParentId" />
        <label>Seleziona padre</label>
        <select id="selParent" onclick="selParent()">
            @foreach (var el in _lst)
            {
                if (el.Id == Model.Id)
                {
                    <option selected="selected" value="=@el.Id">@el.Name</option>
                }
                else
                {
                    <option value="=@el.Id">@el.Name</option>
                }
            }
        </select>
        <br />
        <input type="submit" value="invia" />
    </div>
}
<script>
    var _id = document.getElementById("selParent").value;
    document.getElementById("ParentId").value = _id;
</script>