﻿
@{
    ViewBag.Title = "Impostazioni";
    Layout = "~/Views/Shared/Layout/_LayoutBackOffice.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
}

<div class="wrapper">
    @Html.Partial("_partialHeader")
    <div class="container-fluid">
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase font-dark">@oTransBLL.getTranslation("Utenti").Translation</span>
                                <span class="caption-helper">@oTransBLL.getTranslation("Gestione lavoranti").Translation.</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                    <i class="icon-wrench"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" href="#">
                                    <i class="icon-trash"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            qui
                        </div>
                    </div>*@
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">

                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">

                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- BEGIN FOOTER -->
        <p class="copyright">
            2016 &copy; Metronic Theme By
            <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
            <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
        </p>
        <a href="#index" class="go2top">
            <i class="icon-arrow-up"></i>
        </a>
        <!-- END FOOTER -->
    </div>
</div>
<!-- END CONTAINER -->

