﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/Layout/_LayoutBackOffice.cshtml";
    string lang = "it-IT";
    if (Session["lang"] != null)
    {
        lang = (string)Session["lang"];
    }
    NapoMVC.Models.BLL.TranslateBLL oTransBLL = new NapoMVC.Models.BLL.TranslateBLL(lang, "backoffice");
    NapoMVC.Models.BLL.UserBLL oUserBLL = new NapoMVC.Models.BLL.UserBLL();
    int _networkId = oUserBLL.getUserNetwork(User.Identity.Name);
}

<div class="wrapper">
    @Html.Action("Header", "BackOffice", new { area = "" })
    <div class="container-fluid">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                    @(Html.Kendo().Grid<ClassRepository.Supplier>()
                        .Name("CabinGid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.ID).Title(oTransBLL.getTranslation("Codice").Translation);
                            columns.Bound(c => c.Name).Title(oTransBLL.getTranslation("Nome").Translation);
                            columns.Bound(c => c.Code).Title(oTransBLL.getTranslation("Codice").Translation);
                            columns.Command(command => command.Custom(oTransBLL.getTranslation("Dettagli").Translation).Click("showDetails"));
                        })
                            .HtmlAttributes(new { style = "height: 550px;" })
                            .Scrollable()
                            .Groupable()
                            .Sortable()
                            .Pageable(pageable => pageable
                                .Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Action("Suppliers_Read", "CRUD", new { NetworkId = _networkId }))
                                .PageSize(20)
                            )
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<div id="supplierWindow"></div>



<script>
    $(document).ready(function () {
        var myWindow = $("#supplierWindow"),
            undo = $("#undo");

        function onClose() {
            undo.fadeIn();
        }

        myWindow.kendoWindow({
            width: "615px",
            close: onClose,
            visible: false
        });
    });
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var _id = dataItem.ID;
        var employeeWindow = $("#supplierWindow").data("kendoWindow");
        employeeWindow.refresh({
            url: "@Url.Action("SupplierDetails", "BackOffice", new { area = "" })",
            data: { SupplierId: _id },
        }).center().open().title(dataItem.Name);

    //server -> EmployeeId

    }
    function onClose(e) {

    }
</script>




