﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/AppCSS/ionic/release/css/ionic.css" rel="stylesheet" />
    <link href="~/Content/AppCSS/angular-block-ui/dist/angular-block-ui.css" rel="stylesheet" />
    <!-- build:css({.tmp,src}) styles/app.css -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- endbuild -->
    <link href="~/Content/AppCSS/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.mobile.min.css" />
    <link href="../assets/global/css/kendo.css" rel="stylesheet" />
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>

    <script src="~/Scripts/AppScript/slide-menu.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <ion-nav-bar class="bar-dark nav-bar-container" nav-bar-transition="ios" nav-bar-direction="none" nav-swipe="">
        <ion-nav-buttons side="right" class="hide"></ion-nav-buttons>
        <div class="nav-bar-block">
            <ion-header-bar class="bar-dark bar bar-header" align-title="center">
                <img src="~/assets/img/napo-logo.jpg">
                <div class="title header-item" style="left: 45px; right: 45px;font-size:small;font-weight:lighter">[ NAPO 0.1  | Hairdresser and Beauty ERP ]</div>
                <div class="buttons buttons-right header-item">
                    <span class="right-buttons">
                        <button class="button button-icon button-clear ion-navicon" onClick='slideMenu();'></button>
                    </span>
                </div>
            </ion-header-bar>
        </div>
    </ion-nav-bar>
    <section>
        <ion-side-menus class="view">
            <ion-side-menu-content class="menu-content pane">
                <ion-content class="scroll-content ionic-scroll  has-header">
                    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                        @RenderBody()
                    </div>
                </ion-content>
            </ion-side-menu-content>
        </ion-side-menus>
    </section>
    <!--MENU laterale -->
    <nav id="sideMenu">
        <ul>
            <li>
                <a href="#"><button class="button button-full button-positive" disabled>DASHBOARD</button></a>
            </li>
            <li>
                <a href="/#/cassa"><button class="button button-full button-balanced" onclick=' $("#sideMenu").unbind("close")'>CASSA</button></a>
            </li>
            <li>
                <a href="@Url.Action("Settings","BackOffice")"><button class="button button-full button-positive">IMPOSTAZIONI</button></a>
            </li>
            <li>
                <a href="/statistiche.html"><button class="button button-full button-positive">STATISTICHE</button></a>
            </li>
            <li>
                <a href="/assistenza.html"><button class="button button-full button-positive">ASSISTENZA</button></a>
            </li>
        </ul>
    </nav>
    <script>
        $("#chart").kendoChart();
        function slideMenu(){
            if( $("#sideMenu").hasClass('mmenu-opened') ){
                $("#sideMenu").trigger("close");
            }
            else{
                $("#sideMenu").trigger("open");
            }

        }
    </script>
    <style>
        ion-card, ion-card-header {
            display: block;
        }
    </style>
    @Scripts.Render("~/bundles/coreplugin")
    @RenderSection("scripts", required: false)
    @{
        string lang = "it-IT";
        if (Session["lang"] != null)
        {
            lang = (string)Session["lang"];
        }
    }
    @switch (lang)
    {
        case "it-IT":
            <script src="~/Assets/kendo/2017.1.223/js/cultures/kendo.culture.it-IT.min.js"></script>
            <script src="~/Assets/kendo/2017.1.223/js/messages/kendo.messages.it-IT.min.js"></script>
            <script type="text/javascript">
                kendo.culture("it-IT");
            </script>
            break;
        case "en-GB":
            <script src="~/Assets/kendo/2017.1.223/js/cultures/kendo.culture.en-GB.min.js"></script>
            <script src="~/Assets/kendo/2017.1.223/js/messages/kendo.messages.en-GB.min.js"></script>
            <script type="text/javascript">
                kendo.culture("en-GB");
            </script>
            break;
        case "fr-FR":
            <script src="~/Assets/kendo/2017.1.223/js/cultures/kendo.culture.fr-FR.min.js"></script>
            <script src="~/Assets/kendo/2017.1.223/js/messages/kendo.messages.fr-FR.min.js"></script>
            <script type="text/javascript">
                kendo.culture("fr-FR");
            </script>
            break;
        case "de-DE":
            <script src="~/Assets/kendo/2017.1.223/js/cultures/kendo.culture.de-DE.min.js"></script>
            <script src="~/Assets/kendo/2017.1.223/js/messages/kendo.messages.de-DE.min.js"></script>
            <script type="text/javascript">
                kendo.culture("de-DE");
            </script>
            break;
        case "es-ES":
            <script src="~/Assets/kendo/2017.1.223/js/cultures/cultures/kendo.culture.es-ES.min.js"></script>
            <script src="~/Assets/kendo/2017.1.223/js/messages/kendo.messages.es-ES.min.js"></script>
            <script type="text/javascript">
                kendo.culture("es-ES");
            </script>
            break;
        case "zh-CN":
            <script src="~/Assets/kendo/2017.1.223/js/cultures/kendo.culture.zh-CN.min.js"></script>
            <script src="~/Assets/kendo/2017.1.223/js/messages/kendo.messages.zh-CN.min.js"></script>
            <script type="text/javascript">
                kendo.culture("zh-CN");
            </script>
            break;
    }
</body>
</html>
