﻿@{
    ViewBag.Title = "Create Role";
    //Layout = "~/Views/Shared/Layout/_UserShell.cshtml";
    string message = "";
    if (ViewBag.ResultMessage != null)
    {
        message = (string)ViewBag.ResultMessage;
    }
}

<div class="row">
    <div class="wrapper">
        <h2>Create Role</h2>
        @Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div>
                Role name
            </div>
            <p>
                @Html.TextBox("RoleName")
            </p>
            <input type="submit" value="Save" />
        }
        <div>
            @message
        </div>
    </div>
</div>

