﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
    @{
        ViewBag.Title = "Roles list";
        //Layout = "~/Views/Shared/Layout/_UserShell.cshtml";
    }

    <div class="row">
        <div class="wrapper"> 

            @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
            <hr />
            <div>
                @foreach (var role in Model)
                {
                    <p>
                        <strong>@role.Name | </strong>
                        <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a></span> |
                        @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
                    </p>
                }
            </div>
        </div>
    </div>
