﻿@{
    ViewBag.Title = "Manage Roles";
    //Layout = "~/Views/Shared/Layout/_UserShell.cshtml";
    //Roles.IsUserInRole(User.Identity.Name);
}

<div class="row">
    <div class="wrapper">
        <h2>Manage User Roles</h2>
        @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
        <hr />
        <h2>Role Add to User</h2>
        @using (Html.BeginForm("RoleAddToUser", "Role"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p>
                Username : @Html.TextBox("UserName")
                Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
            </p>
            <input type="submit" value="Save" />
        }
        <hr />
        <h3>Get Roles for a User</h3>
        @using (Html.BeginForm("GetRoles", "Role"))
        {
            @Html.AntiForgeryToken()
            <p>
                Username : @Html.TextBox("UserName")
                <input type="submit" value="Get Roles for this User" />
            </p>
        }

        @if (ViewBag.RolesForThisUser != null)
        {
            <div style="background-color:yellow;">
                <h3>Roles for this user </h3>
                <ol>
                    @foreach (string s in ViewBag.RolesForThisUser)
                    {
                        <li>@s</li>
                    }
                </ol>
            </div>
        }

        <hr />
        <h3>Delete A User from a Role</h3>

        @using (Html.BeginForm("DeleteRoleForUser", "Role"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p>
                Username : @Html.TextBox("UserName")
                Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
            </p>
            <input type="submit" value="Delete this user from Role" />
        }
    </div>
</div>

