﻿<div class="row">
    <div class="demo-section k-content wide col">
        <div id="toolbar"></div>
    </div>
</div>
<script>
            $(document).ready(function() {
                $("#toolbar").kendoToolBar({
                    items: [
                        { type: "button", text: "Home",url:"@Url.Action("Index","BackOffice",new { area=""})"},
                        {
                            type: "splitButton",
                            text: "Servizi",
                            menuButtons: [
                                { text: "Servizi", icon: "insert-up", url: "@Url.Action("Services","BackOffice")" },
                                { text: "Tipi Servizi", icon: "insert-middle" , url: "@Url.Action("ServiceTypes","BackOffice")"},
                            ]
                        },
                        {
                            type: "splitButton",
                            text: "Collaboratori",
                            menuButtons: [
                                { text: "Collaboratori", icon: "insert-up", url: "@Url.Action("Employees","BackOffice")" },
                                { text: "Tipi Collaboratori", icon: "insert-middle" , url: "@Url.Action("EmployeeTypes", "BackOffice")"},
                            ]
                        }
                    ]
                });

                $("#dropdown").kendoDropDownList({
                    optionLabel: "Paragraph",
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [
                        { text: "Heading 1", value: 1 },
                        { text: "Heading 2", value: 2 },
                        { text: "Heading 3", value: 3 },
                        { text: "Title", value: 4 },
                        { text: "Subtitle", value: 5 }
                    ]
                });
            });
</script>
