﻿@model int

<!--Sezione per modale tipi servizio-->
<div id="serviceTypeWindowModal" style="display:none">
    <div id="typeObject_ServiceType">
        <input type="hidden" id="Id_ServiceType" name="Id_ServiceType" value="0" />
        <input type="hidden" id="GUID_ServiceType" name="GUID_ServiceType" value="" />
        <input type="hidden" id="NetworkId_ServiceType" name="NetworkId_ServiceType" value="@Model" />
        Nome: <input type="text" id="Name_ServiceType" name="" value="" placeholder="Digita il nome..." /><br />
        Parent: <select id="ParentId_ServiceType" name="ParentId_ServiceType">
            <option value="0">
                ----
            </option>
        </select><br />
    </div>
    <button id="saveType" name="saveType" onclick="saveType_ServiceType()">Salva>></button>
    <script>
        function drawSelect_ServiceType() {
            $.ajax({
                url: '@Url.Action("getParentServices", "CRUD")',
                data: 'NetworkId=@Model',
                type: "POST",
                async: true,
                success: function (data) {
                    if (data) {
                        var _html = '';
                        var _sel = $("#ParentId_ServiceType");
                        _sel.empty();
                        _sel.append($("<option></option>")
                                .attr("value", 0).text('-----'));
                        for (var i = 0; i < data.length; i++) {
                            _sel.append($("<option></option>")
                                .attr("value", data[i].Id).text(data[i].Name));
                        }
                    }
                },
                fail: function () {
                    alert('Errore nella comunicazione: select');
                }
            });
        }
        function saveType_ServiceType() {
            var _o = new Object();
            var _id = $("#Id_ServiceType").val();
            var _guid = $("#GUID_ServiceType").val();
            var _network = '@Model';
            var _name = $("#Name_ServiceType").val();
            var _parent = $('#ParentId_ServiceType option:selected').val();
            _o.Name = _name;
            _o.Id = _id;
            _o.GUID = _guid;
            _o.NetworkId = _network;
            _o.ParentId = _parent;
            $.ajax({
                url: '@Url.Action("setServiceType", "CRUD")',
                data: 'JsonData=' + JSON.stringify(_o),
                type: "POST",
                async: true,
                success: function (data) {
                    if (data) {
                        if (data.Status.Status != 0)
                        {
                            alert(data.ResponseStatus.Error);
                        }
                    }
                },
                fail: function () {
                    alert('Errore nella comunicazione');
                }
            });
            $("#serviceTypeWindowModal").data("kendoWindow").close();
        }
        function openServiceTypeWindow()
        {
            drawSelect_ServiceType();
            $("#serviceTypeWindowModal").css("display", "block");
            var serviceTypeWindow = $("#serviceTypeWindowModal");
            //riempio con i valori trovati
            $("#Id_ServiceType").val('0');
            $("#GUID_ServiceType").val('');
            $("#Name_ServiceType").val('');
            $("#ParentId_ServiceType").val('');
            serviceTypeWindow.kendoWindow({
                width: 350,
                height: 200,
                title: "Gestione tipo: Nuovo",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                close: onCloseServiceTypeWindow
            }).data("kendoWindow").center().open();
        }
        function closeAllWindowModalType()
        {
            if ($("#serviceTypeWindowModal").data("kendoWindow")!=null)
                $("#serviceTypeWindowModal").data("kendoWindow").close();
        }
    </script>

</div>
<!--Fine sezione modale tipi servizio-->
