﻿.page-content {
    padding-top: 0px;
}
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-default, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm.btn-default, .portlet>.portlet-title>.actions>.btn.btn-default, .portlet>.portlet-title>.actions>.btn.btn-sm.btn-default {
    padding: 4px 6px 2px;
}
.portlet > .portlet-title {
margin-bottom:0;
min-height:20px
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 30px;
}
.portlet.light>.portlet-title>.actions{
    padding: 0 0 6px 0}
#cassaTabstrip .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-lg {
    font-size: 16px;
    padding: 12px 10px 10px;
}

.page-header .navbar .topbar-actions-moved {
    position: relative;
    float: right;
    top: 8px;
    right: 0;
}
.quick-nav {
    position: fixed;
    z-index: 10103;
    top: 50%;
    right: 10px;
    margin-top: 23px;
    pointer-events: none;
}
@media only screen 
and (min-device-width : 1025px) 
and (max-device-width : 1280px)  { /* STYLES GO HERE */
    #cassaTabstrip .k-tabstrip-items{
        margin:0;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .wrapper {
         margin: 0 
    }
    .page-content {
        padding-bottom:0
    }
    .portlet.light {
    padding: 12px 2px 15px;

    }
    .portlet.light {
    padding: 12px 2px 15px;
    background-color: #fff;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

     padding-left: 4px; 
     padding-right: 4px; 
    }
    .page-header .navbar .navbar-nav>li>a {
    padding: 22px 10px;
    }
    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-lg {
    font-size: 16px;
    padding: 12px 10px 10px;
    }
    .k-tabstrip > .k-tabstrip-items .k-item .k-link {
    padding: 6px 0;
    }
}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */
    #cassaTabstrip .k-tabstrip-items{
        margin:0;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .wrapper {
         margin: 0 
    }
    .page-content {
        padding:0
    }
    .portlet.light {
    padding: 12px 2px 15px;

    }
    .portlet.light {
    padding: 12px 2px 15px;
    background-color: #fff;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

     padding-left: 4px; 
     padding-right: 4px; 
    }
    .page-header .navbar .navbar-nav>li>a {
    padding: 22px 10px;
    }
    .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-lg {
    font-size: 16px;
    padding: 12px 10px 10px;
}
}
